In [1]:
# import the necessary libraries
import pandas as pd

In [2]:
# import CSV with dates between 1960 and 1980
old_weather1 = pd.read_csv(
    r"C:\Users\syast\OneDrive\Documents\Data Analysis Practice\Fair Weather Project\data\bloom_weather_1960_1980.csv"
)

In [3]:
# drop all rows that contain NaN
old_weather1 = old_weather1.dropna()

In [4]:
old_weather1["DATE"] = pd.to_datetime(old_weather1["DATE"])

In [5]:
# select only the dates between September 22 and October 3 - approximately the dates of the fair each year
old_weather1 = old_weather1[
    ((old_weather1["DATE"].dt.month == 9) & (old_weather1["DATE"].dt.day >= 22))
    | ((old_weather1["DATE"].dt.month == 10) & (old_weather1["DATE"].dt.day <= 3))
]

In [6]:
# select only the 'MILLVILLE 2 SW, PA US' Station because it is the only Station that recorded data for every day
old_weather1 = old_weather1[old_weather1["NAME"] == "MILLVILLE 2 SW, PA US"]

In [7]:
# output dataframe to new csv
old_weather1.to_csv(
    r"C:\Users\syast\OneDrive\Documents\Data Analysis Practice\Fair Weather Project\data\old_weather_cleaned.csv"
)

In [8]:
# import CSV with dates between 2002 and 2022
new_weather1 = pd.read_csv(
    r"C:\Users\syast\OneDrive\Documents\Data Analysis Practice\Fair Weather Project\data\bloom_weather_2000_2023.csv"
)

In [9]:
# drop any rows that contain NaN
new_weather1 = new_weather1.dropna()

In [10]:
# convert DATE column to datetime
new_weather1["DATE"] = pd.to_datetime(new_weather1["DATE"])

In [11]:
# select only the dates between September 22 and October 3 - approximately the dates of the fair each year
new_weather1 = new_weather1[
    ((new_weather1["DATE"].dt.month == 9) & (new_weather1["DATE"].dt.day >= 22))
    | ((new_weather1["DATE"].dt.month == 10) & (new_weather1["DATE"].dt.day <= 3))
]

In [12]:
# examine the data
new_weather1.head()

          STATION             NAME       DATE  TMAX  TMIN
7328  USC00360457  BEAR GAP, PA US 2008-09-22  68.0  51.0
7329  USC00360457  BEAR GAP, PA US 2008-09-23  72.0  43.0
7330  USC00360457  BEAR GAP, PA US 2008-09-24  75.0  43.0
7331  USC00360457  BEAR GAP, PA US 2008-09-25  67.0  44.0
7332  USC00360457  BEAR GAP, PA US 2008-09-26  64.0  50.0

In [13]:
new_weather1["NAME"].unique()

array(['BEAR GAP, PA US', 'BLOOMSBURG UNIVERSITY, PA US'], dtype=object)

In [14]:
max(new_weather1[new_weather1["NAME"] == "BEAR GAP, PA US"]["DATE"])

Timestamp('2023-10-01 00:00:00')

In [15]:
max(new_weather1[new_weather1["NAME"] == "BLOOMSBURG UNIVERSITY, PA US"]["DATE"])

Timestamp('2017-10-03 00:00:00')

In [16]:
# find first date that the Bloomsburg University Station has data
min(new_weather1[new_weather1["NAME"] == "BLOOMSBURG UNIVERSITY, PA US"]["DATE"])

Timestamp('2013-09-22 00:00:00')

In [17]:
# filter Bear Gap Station data to only data collected before Bloomsburg University Station collected data
bear_gap_weather = new_weather1[
    (new_weather1["NAME"] == "BEAR GAP, PA US") & (new_weather1["DATE"] < "2013-09-22")
]

In [18]:
# Bloomsburg University data
bloom_u_weather = new_weather1[new_weather1["NAME"] == "BLOOMSBURG UNIVERSITY, PA US"]

In [19]:
new_df = pd.concat([bear_gap_weather, bloom_u_weather])

In [20]:
new_df.reset_index(inplace=True)

In [21]:
new_df.drop("index", axis=1, inplace=True)

In [22]:
# output dataframe to new csv
new_df.to_csv(
    r"C:\Users\syast\OneDrive\Documents\Data Analysis Practice\Fair Weather Project\data\new_weather_cleaned_v2.csv"
)

In [23]:
new_df.head()

       STATION             NAME       DATE  TMAX  TMIN
0  USC00360457  BEAR GAP, PA US 2008-09-22  68.0  51.0
1  USC00360457  BEAR GAP, PA US 2008-09-23  72.0  43.0
2  USC00360457  BEAR GAP, PA US 2008-09-24  75.0  43.0
3  USC00360457  BEAR GAP, PA US 2008-09-25  67.0  44.0
4  USC00360457  BEAR GAP, PA US 2008-09-26  64.0  50.0