In [2]:
# import libraries
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# import movie keywords
movie_keywords=pd.read_csv('movie_keywords_v2.csv')

In [ ]:
movie_keywords.head()

In [ ]:
# find similar movies by determining which unique words are present in the keywords for each movie
results_v1={}
for i in range(len(movie_keywords)):
    results={}
    for i2 in range(len(movie_keywords)):
        if i!=i2:
            i_kws=movie_keywords.iloc[i]['keywords'].split(',')
            i2_kws=movie_keywords.iloc[i2]['keywords'].split(',')
            results[movie_keywords.iloc[i2]['title']]=len(i_kws+i2_kws)-len(set(i_kws+i2_kws))
    print(movie_keywords.iloc[i]['title'])
    tl=[]
    for k,v in results.items():
        if v>3:
            if v==max(results.values()):
                tl.append(k)
    results_v1[movie_keywords.iloc[i]['title']]=tl

In [ ]:
results_1=pd.from_dict([results_v1])

In [ ]:
results_1=results_1.transpose()

In [ ]:
results_1.rename(columns={'index':'title',0:'similar'},inplace=True)

In [6]:
results_1.drop(columns='Unnamed: 0',inplace=True)

In [10]:
results_1.head()

,titles,similar
0,#Horror,"['Amnesiac', 'Boogeyman', 'Goddess of Love', '..."
1,(500) Days of Summer,['Summer Catch']
2,...E tu vivrai nel terrore! L'aldilà,"[""The Brain That Wouldn't Die"", 'The Midnight ..."
3,10 Cloverfield Lane,"['Breakdown', 'Frequency', 'Room', 'Southland ..."
4,10 Things I Hate About You,['High School Musical 3: Senior Year']

In [ ]:
# find similar movies by using count vectorizer and cosine to identify movies that have at least 40% similarity in keywords
results_v2={}
for i in range(len(movie_keywords)):
    tl=[]
    print(movie_keywords.iloc[i]['title'])
    for i2 in range(len(movie_keywords)):
        if i!=i2:
            compare=[movie_keywords.iloc[i]['keywords'],movie_keywords.iloc[i2]['keywords']]
            cMatrix=CountVectorizer().fit_transform(compare)
            matPercent=cosine_similarity(cMatrix)[0][1] * 100
            matPercent=round(matPercent, 2) # round to two decimal
            if matPercent>40.0:
                tl.append(movie_keywords.iloc[i2]['title'])
    results_v2[movie_keywords.iloc[i]['title']]=tl

In [ ]:
results_2=pd.from_dict([results_v2])

In [ ]:
results_2=results_2.transpose()

In [ ]:
results_2.rename(columns={'index':'title',0:'similar'},inplace=True)

In [ ]:
results_2.drop(columns='Unnamed: 0',inplace=True)

In [14]:
results_2.head()

                  title                                            similar
0               #Horror  ['$upercapitalist', '10th & Wolf', '12 Rounds'...
1       $upercapitalist  ['#Horror', '2:13', '8 Days', "A Beginner's Gu...
2  (500) Days of Summer                             ['How to Be a Player']
3                [REC]²  ["Devil's Due", 'Dreamcatcher', 'Paranormal Ac...
4   10 Cloverfield Lane  ['All Superheroes Must Die', 'Containment', 'C...